---
layout: default
titleAfter: 26 Apps in 26 weeks, self taught mobile design
meta: showing a list of apps created in the past 26 weeks
priority: 1.0
---

<!-- <header>
  <nav>
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="mailto:adrian.z.mei@gmail.com">Contact</a>
    <a href="https://github.com/animemei" target="_blank">GitHub</a>
  </nav>
</header> -->

<div id="top_container">
  <h1>Hello World !!!</h1>
  <div id="info_container">
    <div>I'm Adrian Mei and I am making</div>
    <div class="orange">26 Apps in 26 weeks</div>
    <div>You can check them out below</div>
  </div>
</div>

<div id="marquee_container">
  <div>Today's Task</div>
  <a href="#">Building Home page!</a>
</div>

<!-- ***Do Not Delete*** Blow code loop through _data > projectList to home page-->
<!-- <div id="project_list_container">
  <ol>
  {% for project in site.data.projectList %}
    <li>
      <a href="{{site.baseurl}}/projects/{{project.folder}}/">{{project.title}}</a>
      {{project.content | markdownify}}
  </li>
  {% endfor %}
  </ol>
</div> -->

<div id="project_list_container">
  <ol>
    {% for project in site.data.projectList %}
    <li>
      <a href="{{site.baseurl}}/projects/{{project.folder}}/">{{project.title}}</a>
      {{project.content | markdownify}}
  </li>
  {% endfor %}
  </ol>
</div>
